.header {
  display: flex;
  height: 100px;
  overflow-x: hidden;
  align-items: center;
  background: #f3f3f3;
  padding: 0 50px;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__brand {
  font-size: 2rem;
}

.header__items-icon {
  margin: 0 10px;
}


@media screen and (max-width: 700px){
  .header {
    padding: 0 10px;
  }
}
