.header {
  display: flex;
  height: 100px;
  overflow: hidden;
  align-items: center;
  font-family: 'Nerko One', cursive;
  padding: 0 50px;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__brand {
  font-size: 2rem;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  width: 7rem;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  color: #a08989;
}

.header__brand > span {
  color: #d4324c;
}

.header__brand:hover {
  transform: rotate(5deg);
}

.header__items {
  display: flex;
}

.header__items-icon {
  margin: 0 5px;
}

.icon__image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.toggle-container {
  display: flex;
  margin: 0 2px;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type='checkbox'].checkbox {
  width: 20px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type='checkbox'].checkbox:checked + label {
  left: 15px;
}

input[type='checkbox'].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type='checkbox'].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: cyan;
}

@media screen and (max-width: 700px) {
  .header {
    padding: 0 10px;
  }

  .icon__image {
    width: 25px;
    height: 25px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 7rem;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
