.footer {
  width: 100%;
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  /* box-shadow: 0 -2px 8px 0 #ccc; */
}

.footer__text {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.footer__text > span {
  font-family: 'Nerko One', cursive;
  font-size: 1.3rem;
  color: #d4324c;
}
